body{
    background-color: #DFDFDF;
}
div{
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.2);
    background-color: white;
    padding:2px 16px;

    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;

    transition-duration: 0.5s;
}


label{
    cursor: pointer;
}

h2{
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.software{
    transition-duration: 0.5s;
    height: 0px;
}

#toggle:checked ~ div.software{
    height: 600px;

}
.collapsed{
    opacity: 0;
    
    transition-delay: 0s;
    
    transition-duration: 0.3s;
}

#toggle:checked ~ div.software .collapsed{
    opacity: 1;
    transition-delay: 0.5s;
}
.childSectionL
{
    border: 3px solid #fff;
    background-color: #333;
    color: #FFF;
    transition-duration: 1s;
    margin-top: 1%;
}
/*#toggle:checked div.software ~ div.childSectionL{
    opacity: 1;
}*/

.L{
    margin-left: 5.5%;
    margin-top: -4%;
}
img{
    max-width: 60px;
    height: 60px;
}

h3, #blogBody{
    text-align: center;
}
select{
    width: 30%;
}
input{
    opacity: 1;
    margin-top: 6%;

}
input + label{
    
    font-size: 180%;
    margin-top: 200px;
    margin-left:3%;
}
#toggle:checked + label::before{
    transform: rotate(180deg);
}
input + label::before{
    content: url("images/expandColapse.svg");
    
    
}

@keyframes expandColapse{
    0%{transform: rotate(0deg);}
    50%{transform: rotate(90deg);}
    100%{transform: rotate(180deg);}
}
