body{
    background-color: #DFDFDF;
}
div{
    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.2);
    background-color: white;
    padding:2px 16px;

    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;

    transition-duration: 0.5s;
}
.blogMenu{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
}

label{
    cursor: pointer;
}

h2{
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
.software{
    transition-duration: height 0.5s;
    height: 0px;
}

#toggle:checked ~ div.software{
    height: 600px;
}
.childSectionL
{
    border: 3px solid #fff;
    background-color: #333;
    color: #FFF;
    opacity: 1;
    transition-duration: 1s;
    margin-top: 1%;
}
#toggle:checked div.software > div.childSectionL{
    opacity: 0;
}

.L{
    margin-left: 5.5%;
    margin-top: -4%;
}
img{
    max-width: 60px;
    height: 60px;
}

h3, #blogBody{
    text-align: center;
}
select{
    width: 30%;
}
input{
    display: none;
}
